body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0f172a;
}
h1{
   text-align: center;
    color: red;
}
.boton{
    padding: 15px 35px;
    font-size: 18px;
    color: white;
    background: linear-gradient(45deg, #3b82f6, #06b6d4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.boton:hover{
    background: linear-gradient(45deg, #06b6d4, #3b82f6);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}